#root {
  background-color: orange;
  min-height: 100vh;
  padding-bottom: 10rem;
}
.App {
  text-align: center;
}

.chart-header {
  font-size: x-large;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.chartdropdown-bsprefix {
  margin-left: 15%;
}

g .recharts-bar-rectangle {
  cursor: pointer;
}

.popover-header {
  margin-top: 0;
  text-align: center;
}

.popover-body {
  border: 1px solid lightgrey;
  text-align: center;
  cursor: pointer;
}

.popover {
  z-index: 999 !important;
}

